gunicorn
fastapi
python-dotenv
uvicorn
pytest
pytest-mock
mock
virtualenv
pydantic
python-multipart
pydantic_settings
httpx
sqlmodel
mysqlclient
kafka-python
aiokafka
kafka
pykafka
pytest-asyncio